# R
.Rhistory
.RData
.Rproj.user/

# Data
data/bronze/
data/silver/
data/gold/
_targets/

# Outputs
outputs/figures/
outputs/tables/

# OS
Thumbs.db

# targets cache
_targets/

# Data
data/bronze/
data/silver/
data/gold/
data/external/
data/dictionaries/


# run logs
outputs/logs/

